
.wrapperPagina {
  width: 800px; 
  margin: 20px auto;
  font-family: sans-serif;
  padding: 0 15px;
}


.containerTamanhos {
  background-color: #fcece5; 
  border: 3px solid #eed4a7; 
  min-height: 400px; 
  width: 800px;
  border-radius: 12px;
  padding: 25px;
  margin-bottom: 25px; 
  box-sizing: border-box; 
}

.containerTamanhos h3 {
  color: #000000;
  margin-top: 0;
  margin-bottom: 22px;
  font-size: 22px;
}

.nomeTranca {
  color: #b09189;
  font-weight: bold;
}

.gridTamanhos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.cardTamanho {
  background-color: #ffffff;
  border: 2px solid #eed4a7; 
  height: 80px;
  border-radius: 15px;
  padding: 18px 15px;
  cursor: pointer;
  display: flex; 
  align-items: center;
  transition: all 0.2s ease;
  box-sizing: border-box;
}

.cardTamanho h4 {
  margin: 0;
  font-size: 18px;
  color: #333;
  font-weight: 400;
}

.cardTamanho:hover {
  background-color: #fffbf9;
  border-color: #c4a49c;
}

.cardSelecionado {
  border: 3px solid #c4a49c !important; 
  background-color: #fff5ed !important; 
}

.cardSelecionado h4 {
  font-weight: 600; 
  color: #000000;
}


.barraPreco {
  background-color: #c4a49c; 
  border-radius: 12px; 
  padding: 18px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  width: 800px;
  box-sizing: border-box;
  color: white;
}

.barraPreco h4 {
  font-size: 18px;
  margin: 0;
  font-weight: 400;
}

.barraPreco h5 {
  font-size: 18px; 
  margin: 0;
  font-weight: 600;
}


.containerBotoes {
  display: flex;
  justify-content: flex-start; 
  gap: 15px; 
  width: 800px;
}

.botaoProximo {
  background-color: #c4a49c;
  color: white;
  text-decoration: none;
  padding: 12px 35px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  transition: background-color 0.2s ease;
}

.botaoProximo:hover:not(.botaoDesabilitado) {
  background-color: #b09189;
}

.botaoVoltar {
  background-color: transparent;
  color: #c4a49c;
  border: 2px solid #c4a49c;
  text-decoration: none;
  padding: 10px 35px; 
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.2s ease;
}

.botaoVoltar:hover {
  background-color: #fcece5;
  color: #b09189;
  border-color: #b09189;
}

.botaoDesabilitado {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.erroAviso {
  color: #c4a49c;
  font-size: 16px;
  text-align: center;
  margin-top: 50px;
}